<main class="main">
    <section class="Brunch">
  
      <div class="d-flex justify-content-around p-5">
        <div title="Sunday Brunch ATL">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut felis
            nisl, eleifend sit amet malesuada convallis, rutrum et orci. Sed nec
            dui mattis, eleifend urna a, dignissim tellus. Pellentesque in metus
            vel lectus ullamcorper viverra eget sed magna. Suspendisse commodo
            vulputate ornare.
          </p>
        </div>
  
        <div title="Breakfast At Barney's">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut felis
            nisl, eleifend sit amet malesuada convallis, rutrum et orci. Sed nec
            dui mattis, eleifend urna a, dignissim tellus. Pellentesque in metus
            vel lectus ullamcorper viverra eget sed magna. Suspendisse commodo
            vulputate ornare.
          </p>
        </div>
  
        <div title="Atlanta Breakfast Club">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut felis
            nisl, eleifend sit amet malesuada convallis, rutrum et orci. Sed nec
            dui mattis, eleifend urna a, dignissim tellus. Pellentesque in metus
            vel lectus ullamcorper viverra eget sed magna. Suspendisse commodo.
          </p>
        </div>
      </div>
    </section>
  </main>
